<div class="firstRound">

x</div>
<div class="container-fluid">
    <div class="row">
        <div class="header-text">
            <h1>Small Town</h1>
            <h4>Save the world by saving time</h4>
        </div>
    </div>
    <div class="divSpacer"></div>
    <div class="row">
        <div class="col-md-12">
                <img class="gas" src="../../assets/traffic.JPG">

        </div>
    </div>
    <div>
        <div class="divSpacer"></div>

        <div class="header-text">
                <h1>Reducing Traffic</h1>
                <h4>Time spent in traffic is less time spent with family and friends. And traffic
                    is associated with stress and heart problems.
                </h4>
            </div>


    </div>
    <div class="divSpacer"></div>
        <div class="row">
            <div class="col-md-12">
                    <img class="gas" src="../../assets/gas.JPG">
            </div>
        </div>
        <div class="row">
                <div class="divSpacer"></div>

                <div class="header-text">
                        <h1>Saving you at the pump</h1>
                        <h4>Gas prices are a large portion of American's expenses.
                        </h4>
                    </div>
        </div>



</div>
