
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLinkActive="active" routerLink=""><i id="main-icon" class="fa fa-home" aria-hidden="true"></i> Small Town</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class = "nav-item active"><a class="nav-link" routerLinkActive="active" routerLink="about"><i class="fa fa-info" aria-hidden="true"></i> <span class=""></span>About</a></li>
      <li class = "nav-item active"><a class="nav-link" routerLinkActive="active" routerLink="distance"><i class="fa fa-map-pin" aria-hidden="true"></i> <span class=""></span>Commute</a></li>
      <li class = "nav-item"><a class="nav-link" href="#"><i class="fa fa-book" aria-hidden="true"></i> <span class=""></span>Schools</a></li>
      <li class = "nav-item"><a class="nav-link" href="#"><i class="fa fa-gavel" aria-hidden="true"></i> <span class=""></span>Crime</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- Footer -->
      <footer id="footer">

        <ul class="icons">
          <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
          <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
        </ul>

        <ul class="copyright">
          <li>&copy; Small Town</li><li>Design: <a href="">Small Town Group at Angel Hackathon 2018</a></li>
        </ul>

      </footer>
