
<button  type="button" class="btn btn-primary-outline pull-right" (click)="goBack()" ><i class="fa fa-plus"></i> Go Back</button>
<br>
<br>


<div class="container">

  <div>
  <h2>{{ model[0].username | uppercase }} Details</h2>
  <hr>
  <!--
  <div class="row">
    <div class="col-sm-2  col-md-2">id:</div>
    <div class="col-sm-10  col-md-10">{{model[0].personID}}</div>
  </div>
-->
  </div>


  <div [hidden]="submitted">

    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">


      <div [hidden]= "true" class="form-group">
        <label for="personID">ID</label>
        <input type="number" class="form-control" id="personID"
        [(ngModel)]="model[0].personID" name="personID">
      </div>


    <div class = "row">
    <div class = "col-sm-6  col-md-6">
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username"
        required
        [(ngModel)]="model[0].username" name="username"
        #username="ngModel" [readonly]="editUser">
        <div [hidden]="username.valid || username.pristine"
        class="alert alert-danger">
        Name is required
        </div>
      </div>
      </div>
    </div>


      <div class = "row">
        <div class = "col-sm-6  col-md-6 ">
          <h4>{{homeAddress}}</h4>

          <div class="form-group">
            <label for="adress">Address</label>
            <input type="text" class="form-control" id="address"
            required
            [(ngModel)]="model[0].address" name="address">
          </div>

          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city"
            required
            [(ngModel)]="model[0].city" name="city">
          </div>

          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state"
            required
            [(ngModel)]="model[0].state" name="state">
          </div>

          <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input type="text" class="form-control" id="zipcode"
            required
            [(ngModel)]="model[0].zipcode" name="zipcode">
          </div>
        </div>



        <div class = "col-sm-6  col-md-6 ">
          <h4>{{workAddress}}</h4>

          <div class="form-group">
            <label for="adress2">Address</label>
            <input type="text" class="form-control" id="address2"
            required
            [(ngModel)]="model[1].address" name="address2">
          </div>

          <div class="form-group">
            <label for="city2">City</label>
            <input type="text" class="form-control" id="city2"
            required
            [(ngModel)]="model[1].city" name="city2">
          </div>

          <div class="form-group">
            <label for="state2">State</label>
            <input type="text" class="form-control" id="state2"
            required
            [(ngModel)]="model[1].state" name="state2">
          </div>

          <div class="form-group">
            <label for="zipcode2">Zipcode</label>
            <input type="text" class="form-control" id="zipcode2"
            required
            [(ngModel)]="model[1].zipcode" name="zipcode2">
          </div>
        </div>
      </div>



    <!--
    <div class="form-group">
    <label for="power">Hero Power</label>
    <select class="form-control" id="power"
    required
    [(ngModel)]="model.power" name="power"
    #power="ngModel">
    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
  </select>
  <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
  Power is required
</div>
</div>
-->


<button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Save</button>


<!--
<button type="button" class="btn btn-default" (click)="newUser(); userForm.reset()">New Hero</button>
<i>with</i> reset

&nbsp;&nbsp;
<button type="button" class="btn btn-default" (click)="newUser()">New Hero</button>
<i>without</i> reset
-->
<!-- NOT SHOWN IN DOCS -->

<!-- - -->
    </form>
  </div>

<div [hidden]="!submitted">


  <div class="row">
    <div class="col-sm-2  col-md-2">User Name:</div>
    <div class="col-sm-10  col-md-10">{{ model[0].username  }}</div>
  </div>
  <br>

  <div class = "row">
    <div class = "col-sm-6  col-md-6 ">
      <h6> Home Location:</h6>
      <div class="row">
        <div class="col-sm-3  col-md-3">Address:</div>
        <div class="col-sm-3  col-md-3">{{ model[0].address}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3  col-md-3">City:</div>
        <div class="col-sm-3  col-md-3">{{ model[0].city}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3  col-md-3">State:</div>
        <div class="col-sm-3  col-md-3">{{ model[0].state}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3  col-md-3">Zip Code:</div>
        <div class="col-sm-3  col-md-3">{{ model[0].zipcode}}</div>
      </div>
    </div>



    <div class = "col-sm-6  col-md-6 ">
      <h6> Work Location:</h6>
      <div class="row">
        <div class="col-sm-3  col-md-3">Address:</div>
        <div class="col-sm-3  col-md-3">{{ model[1].address}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3  col-md-3">City:</div>
        <div class="col-sm-3  col-md-3">{{ model[1].city}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3  col-md-3">State:</div>
        <div class="col-sm-3  col-md-3">{{ model[1].state}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3  col-md-3">Zip Code:</div>
        <div class="col-sm-3  col-md-3">{{ model[1].zipcode}}</div>
      </div>
    </div>



</div>


  <br>
  <button class="btn btn-primary" (click)="submitted=false; editUser = true">Edit</button>
  <!--or
  <button type="button" class="btn btn-success" (click)="submitted=false; createNew= true; userForm.reset(); edit = false">Create New User</button>
   -->


</div>
</div>

<div>

<!--  Name via form.controls = {{showFormControls(userForm)}}-->

</div>
<br>
<br>
