<div *ngIf="users">
<!--
  <button  class="glyphicon glyphicon-chevron-left" (click)="goBack()" > < go back</button>
  <hr>

  <h2>{{ users[0].username | uppercase }} Details</h2>
  <div><span>id: </span>{{users[0].personID}}</div>



  <div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name"/>
    </label>
  </div>
-->

<!--
  <app-user-form
  [edit] = "nameEditable"
  [submitted] = "formSubmitted"
  [model]="users"
  (formData)="add($event)">
  </app-user-form> pass formdata to add() of parent component users
-->


  <app-user-form
  [editUser] = "nameEditable"
  [submitted] = "formSubmitted"
  [model]="users">
  </app-user-form> <!--pass formdata to add() of parent component users-->


  <h5>Apartment addresses extracted from Chrome Extention</h5>

  <ul class="apartments">
    <li *ngFor="let apartment of apartments">

        <a link="">
        <span class="badge">{{apartment.apartmentID}}</span> {{apartment.address}}
        </a>
      <button class="delete" title="delete apartment"
      (click)="delete(apartment)">x</button>
    
    </li>

  </ul>

  <!--<button (click)="save()">Edit</button>-->

  <section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <div class="text-muted">Something else</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </section>

  <h2>Section title</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
        </tr>
      </thead>
      <tbody>



        <tr>
          <td>1,007</td>
          <td>sagittis</td>
          <td>ipsum</td>
          <td>Praesent</td>
          <td>mauris</td>
        </tr>
        <tr>
          <td>1,008</td>
          <td>Fusce</td>
          <td>nec</td>
          <td>tellus</td>
          <td>sed</td>
        </tr>
        <tr>
          <td>1,009</td>
          <td>augue</td>
          <td>semper</td>
          <td>porta</td>
          <td>Mauris</td>
        </tr>


      </tbody>
    </table>
  </div>



</div>
